[submodule "Editgrid"]
	path = Editgrid
	url = https://github.com/bakpakin/Editgrid.git
[submodule "hump"]
	path = hump
	url = https://github.com/vrld/hump.git
[submodule "Simple-Tiled-Implementation"]
	path = Simple-Tiled-Implementation
	url = https://github.com/karai17/Simple-Tiled-Implementation.git
